/vendor
/node_modules
/storage/*.key
/storage/logs/*.log
.env
.env.*
.phpunit.result.cache

.idea
.vscode
*.sublime-*

.DS_Store
Thumbs.db

docker-compose.override.yml

/api.json

/public/storage
/public/hot
/public/mix-manifest.json

*.env.backup
*.env.production
*.env.testing
